@{
    ViewData["Title"] = "Ajouter un ouistiti";
}

@model Marmoset

<h1>@ViewData["Title"]</h1>

<form asp-action="Submit">
    <div class="mb-3 w-50">
        <label asp-for="Id" class="form-label">Nom</label>
        <input asp-for="Id" type="number" class="form-control" hidden>
    </div>
    <div class="mb-3 w-50">
        <label asp-for="Name" class="form-label">Nom</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>
    <div class="mb-3 w-50">
        <label asp-for="Age" class="form-label">Age</label>
        <input asp-for="Age" type="number" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
